/* Hela sidan tar upp hela fönsterhöjden */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Sätter minimumhöjd för appen */
}

/* Innehåll tar upp hela utrymmet, och footern ligger längst ner */
.main-content {
  flex: 1; /* Tar upp allt tillgängligt utrymme */
}

/* Footern ska vara längst ner */
.footer-container {
  flex-shrink: 0; /* Förhindrar footern att krympa */
}
